@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* raleway is for navbar */
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* word sans is for body */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  

:root {
    --black: #000000;
    --dark-blue: #133f68;
    --medium-blue: #1382ba;
    --dark-grey: #212121;
    --purple: #2e3f99;
    --light-blue: #a8c3db;
    --medium-grey: ##919191;
    --light-grey: #b9c8d5
    --dark-pink: #ea8b98;
    --light-pink: #f7ccce;
    --white: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    font-family: "Work Sans";
    min-height: 100vh;
    background: #e8eef4;
}
.main-content {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
  }

