@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* body font */
.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* nav bar font & sign on page */
.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  

:root {
  --black: #000000;
  --dark-blue: #133f68;
  --medium-blue: #1382ba;
  --dark-grey: #212121;
  --purple: #2e3f99;
  --medium-grey: ##919191;
  --light-grey: #b9c8d5
  --dark-pink: #ea8b98;
  --light-pink: #f7ccce;
  --white: #ffffff;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Work Sans";
    margin: 0;
    background-image: url("./assets/Background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    padding: 10px;
    /* background-color: var(--light-blue); */
    
   
    color: #fff;
    text-align: center;
  }
  header, .head-bar {
    background-image: url("./assets/header-image.png");
    z-index: 1;
  }
  
  h1, h2 {
    color: var(--light-pink);
  }
  .title {
    color: var(--light-pink);
  }
  
  .kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
  }
  
  .kanban-column {
    width: 30%;
    padding: 10px;
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue-purple);
    border-radius: 8px;
  }
  
  .kanban-column h3 {
    text-align: center;
    color: var(--white);
    background-color: var(--black);
  }
  
  .task-list {
    min-height: 100px;
  }
  
  .card {
    background-color: var(--light-blue);
    color: var(--light-orange);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: move;
  }