@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

:root {
    --bg-color: #133f68;
    /* --text-color: #333;
    --card-bg-color: #ffffff;
    --card-text-color: #333;
    --header-color: #2c3e50;
    --kanban-border: #ddd;
    --primary-color: #0077cc; */
    --light-blue: #91c4ea;
    --light-orange: #faaa58;
    --orange: #ff7728;
    --light-purple: #a396ff;
    --dark-blue-purple: #4f36ad;
    --lightest-peach: #f6e0df;
    ---medium-peach: #f37d7b;
    --dark-peach: #f16251;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Titan One";
    margin: 0;
    background-image: url("./assets/Background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    padding: 10px;
    background-color: var(--light-blue);
    color: #fff;
    text-align: center;
  }
  
  h1, h2 {
    color: var(--dark-peach);
  }
  
  .kanban-board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
  }
  
  .kanban-column {
    width: 30%;
    padding: 10px;
    background-color: var(--light-orange);
    border: 1px solid var(--dark-blue-purple);
    border-radius: 8px;
  }
  
  .kanban-column h3 {
    text-align: center;
    color: var(--light-purple);
  }
  
  .task-list {
    min-height: 100px;
  }
  
  .card {
    background-color: var(--light-blue);
    color: var(--light-orange);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: move;
  }